<div class="uk-container-expand uk-background-secondary">
  <nav class="uk-container uk-container-xlarge uk-background-secondary" uk-navbar>
  
    <div class="uk-navbar-left">
      {{ with .Site.Params.logo }}
        <a class="uk-navbar-item uk-logo" href="/" aria-label="Go to Home page">
        <img data-src="{{ $.Site.Params.logo.url }}" data-srcset="{{ $.Site.Params.logo.url }} {{ $.Site.Params.logo.width }}w, {{ $.Site.Params.logo.url2x }} {{ $.Site.Params.logo.width2x }}w" width="{{ $.Site.Params.logo.width }}" alt="Logo" uk-img>
      </a>
      {{ else }}
        <a class="uk-navbar-item uk-logo text-logo" href="/" aria-label="Go to Home page"><h3 class="uk-text-primary">{{ .Site.Title }}</h3></a>
      {{ end }}
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@m">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
                  <li class="{{ if $currentPage.HasMenuCurrent "main" . }}uk-active{{ end }}">
                      <a href="#">
                          {{ .Pre }}
                          <span>{{ .Name }}</span>
                      </a>
        
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      {{ range .Children }}
                          <li class="{{ if $currentPage.IsMenuCurrent "main" . }}uk-active{{ end }}">
                              <a href="{{ .URL }}">{{ .Name }}</a>
                          </li>
                      {{ end }}
                    </ul>
                  </div>
              </li>
              {{ else }}
                  <li>
                      <a href="{{ .URL }}">
                          {{ .Pre }}
                          <span>{{ .Name }}</span>
                      </a>
                  </li>
              {{ end }}
          {{ end }}
        </ul>

        
        <div class="uk-navbar-item">
          <a class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon" data-uk-toggle="" data-uk-navbar-toggle-icon="" href="#offcanvas-flip"></a>
        </div>
    </div>
  </nav>
</div>