
{{ define "main"}}

{{ partial "hero-image.html" . }}

<div class="uk-container uk-container-medium article-body uk-article">
  <div class="uk-container uk-container-medium headline-container">
    <div class="uk-section uk-padding uk-container-medium uk-text-center">

      <div class= "uk-margin-auto uk-margin-auto-vertical">
        <h1 class="uk-article-title uk-text-capitalize">Oops!</h1>
        
        <p class="uk-text-lead">Sorry! We could not find that page</p>
      </div>

      </div>
  </div>
  <div class="uk-section article-body-content uk-text-center">
    <h2>But there is much more to explore. <br>
      You could start by <a href ="/">going to the home page</a>. 

  </div>
</div>
{{ end }}