{{/* 
	This shortcode accepts an image name
	The image should be in the same folder as the post
*/}}

{{ $image := .Page.Resources.GetMatch (printf "%s" (.Get 0)) }}
{{ $caption := .Get 1 }}

{{ with $image }}

	{{ $small := ($image.Resize "320x q60") }}
	{{ $medium := ($image.Resize "600x q60") }}
	{{ $large := ($image.Resize "1200x q60") }}
	{{ $xlarge := ($image.Resize "1800x q70") }}

	<figure>
		<img class="full-width-image" 
		src="{{ $medium.RelPermalink }}" 
		srcset="
		{{ $small.RelPermalink }} 320w,
		{{ $medium.RelPermalink }} 600w, 
		{{ $large.RelPermalink }} 1200w,
		{{ $xlarge.RelPermalink }} 1800w"
		alt= "{{ $caption }}" 
		uk-img>
		{{ if  $caption }}
		<figcaption>
			{{ $caption | markdownify }}
		</figcaption>
		{{ end }} 
	</figure> 
{{ end }}



