{{/* 
  This shortcode picks up the images 
  listed under image_gallery in the front matter
  And makes a gallery
  The images need to go in the images folder in content folder
*/}}

<div class="uk-container uk-margin-large-top uk-margin-xlarge-bottom">
  <h4 class="uk-text-meta uk-text-center gallery-heading">Click on any image to view an enlarged image gallery </h4>
  <div class="uk-child-width-1-3@m uk-grid-small" uk-grid="masonry: true" uk-lightbox="animation: slide">
    
      {{ range $.Page.Params.gallery_images }}
        {{ $image_name := . }}
        {{ with $.Site.GetPage "section" "images" }}
          {{ $img := (.Resources.ByType "image").GetMatch $image_name }}

          {{ with $img }}
          {{ $small := (.Resize "480x q50") }}
          {{ $xlarge := (.Resize "1200x q65") }}

          <div>
            <a class="uk-inline" href="{{ $xlarge.RelPermalink }}" data-caption="© ajay jaiman [all rights reserved]">
                <img src="{{ $small.RelPermalink }}" alt="{{ $image_name }}" uk-img>
            </a>
          </div>

          {{ end }}
      {{ end }}

    {{ end }}
  </div>
</div>